.quadrant-1 {
    background-color: #f8d7da;
}
/* Light red */
.quadrant-2 {
    background-color: #d4edda;
}
/* Light green */
.quadrant-3 {
    background-color: #fff3cd;
}
/* Light yellow */
.quadrant-4 {
    background-color: #d1ecf1;
}
/* Light blue */


.btn-sm {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
